/.**
/直播回放**
/logs/
/venv/
/test**
/live/
输出/

*.7z
replay-**.yml
/configs/*
!/configs/global.yml
!/configs/example*
**.exe
**.pyc
**.mp4
**.png
**.log
**.flv
**.json
**.ass
**.xml
\-*
/assets/
deploy.remote
biliapi
